In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
response=requests.get('https://btech-data-analytics.github.io/bridgerland-technical-college/bookstore.html').text

In [3]:
soup= BeautifulSoup(response, 'html.parser')

In [4]:
ISBN=[]
Title=[]
Author=[]
Language=[]
Pages=[]
Topic=[]
Price=[]
for book in soup.find('table').find_all('tr',class_='book'):
  ISBN.append(book.find_all('td')[0].text)
  Title.append(book.find_all('td')[1].text)
  Author.append(book.find_all('td')[2].text)
  Language.append(book.find_all('td')[3].text)
  Pages.append(book.find_all('td')[4].text)
  Topic.append(book.find_all('td')[5].text)
  Price.append(book.find_all('td')[6].text)

In [5]:
ISBN

['978-1234567890',
 '978-2345678901',
 '978-3456789012',
 '978-4567890123',
 '978-5678901234',
 '978-6789012345',
 '978-7890123456',
 '978-8901234567',
 '978-9012345678',
 '978-0123456789',
 '978-1234567890',
 '978-2345678901',
 '978-3456789012',
 '978-4567890123',
 '978-5678901234']

In [6]:
Title

['Whiskers of Wisdom: Tales from Feline Philosophers',
 "Purrfectly Pawesome: A Cat's Life",
 'Cat Tales: Adventures in Whiskerland',
 'The Enigmatic Paws: Mysteries of Meowville',
 'Cats in Wonderland',
 'Whisker Wisdom: Life Lessons from Feline Sages',
 'Catnip Chronicles: A Purrfect Journey',
 'Cat-astrophe: Tales of Misadventures',
 "The Cat's Whisker: A Feline Fantasy",
 'Fur and Friendship: Stories of Feline Companions',
 'Tails of Loyalty: Canine Chronicles',
 "Pawsitive Adventures: A Dog's Journey",
 'Barking Wisdom: Lessons from Wise Canines',
 'Dogged Determination: Stories of Resilient Pooches',
 'The Bark Brigade: Canine Heroes Among Us']

In [7]:
Author

['Penelope Wainwright',
 'Jasper Sterling',
 'Penelope Wainwright',
 'Maximilian Thorne',
 'Isadora Harrington',
 'Penelope Wainwright',
 'Jasper Sterling',
 'Celeste Nightshade',
 'Penelope Wainwright',
 'Seraphina Montague',
 'Benjamin Barkley',
 'Sophie Shepherd',
 'Oliver Obedience',
 'Ruby Ruffington',
 'Benjamin Barkley']

In [8]:
Language

['English',
 'English',
 'English',
 'English',
 'English',
 'English',
 'English',
 'English',
 'English',
 'English',
 'English',
 'English',
 'English',
 'English',
 'English']

In [9]:
Pages

['256',
 '192',
 '320',
 '288',
 '224',
 '288',
 '192',
 '240',
 '208',
 '176',
 '256',
 '192',
 '320',
 '288',
 '224']

In [10]:
Topic

['Cats',
 'Cats',
 'Cats',
 'Cats',
 'Cats',
 'Cats',
 'Cats',
 'Cats',
 'Cats',
 'Cats',
 'Dogs',
 'Dogs',
 'Dogs',
 'Dogs',
 'Dogs']

In [11]:
Price

['$19.99',
 '$15.99',
 '$21.99',
 '$17.99',
 '$16.99',
 '$20.99',
 '$14.99',
 '$18.99',
 '$16.99',
 '$12.99',
 '$29.99',
 '$25.99',
 '$21.99',
 '$27.99',
 '$26.99']

In [12]:
df=pd.DataFrame({
    'ISBN':ISBN,
    'Title':Title,
    'Author':Author,
    'Language':Language,
    'Pages':Pages,
    'Topic':Topic,
    'Price':Price
})

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ISBN      15 non-null     object
 1   Title     15 non-null     object
 2   Author    15 non-null     object
 3   Language  15 non-null     object
 4   Pages     15 non-null     object
 5   Topic     15 non-null     object
 6   Price     15 non-null     object
dtypes: object(7)
memory usage: 972.0+ bytes

In [14]:
df['Pages'] = df['Pages'].astype(int)

In [23]:
df['Price'] = df['Price'].str[1:10].astype(float)

In [24]:
df['Price'].mean()

np.float64(20.723333333333336)

In [30]:
df['Author'].value_counts()

Author
Penelope Wainwright    4
Jasper Sterling        2
Benjamin Barkley       2
Maximilian Thorne      1
Celeste Nightshade     1
Isadora Harrington     1
Seraphina Montague     1
Sophie Shepherd        1
Oliver Obedience       1
Ruby Ruffington        1
Name: count, dtype: int64

In [29]:
df['Topic'].value_counts()

Topic
Cats    10
Dogs     5
Name: count, dtype: int64

In [37]:
df.groupby('Topic')['Price'].mean()

Topic
Cats    17.79
Dogs    26.59
Name: Price, dtype: float64

In [38]:
df.groupby('Topic')['Pages'].mean()

Topic
Cats    238.4
Dogs    256.0
Name: Pages, dtype: float64